.card {
  align-self: flex-start;
  border: 1px solid #E0E0E0;
  margin: 0.5em;
  width: calc(100% - 1em);

  .card__tile {
    background: transparent;

    .card__tile__open {
      display: none;
    }

    &:hover, &.card__tile--open {
      
      .card__tile__open {
        display: initial;
      }
    }

    .card__tile__description {
      margin: 0;
      overflow: hidden;
    }
  }

  .card__top {
    display: none;

    &.card__top--true {
      display: flex;
    }
  }

  .card__icon {
    fill: #777677;

    &:hover, &.card__icon--blue {
      fill: #178ac5;
    }
  }

  @media only screen and (min-width: 768px) {
    margin: 1em;
    width: calc(50% - 2em);
  }

  @media only screen and (min-width: 1280px) {
    margin: 2em;
    width: calc(33.33% - 4em);
  }

  @media only screen and (min-width: 1900px) {
    width: calc(25% - 4em);
  }
}
