.dialog {

  @media (max-width: 767px) {
    position: fixed !important;
    top: -2.5%;
    left: 5%;
    width: 90% !important;
    height: 90%;
    overflow-y: scroll;
  }
}

.watchList {
  max-height: initial !important;
  overflow-y: scroll;
  padding: 0 !important;

  .watchList__movies {
    padding-top: 3rem;

    .cardList {
      flex-wrap: nowrap;
      justify-content: flex-start;
      width: calc(100% + 4rem);

      .cardList__card {
        margin: 1rem;
        min-width: 166.67px;
        max-width: 166.67px;
        width: 250px;

        > div {
          display: initial;

          .card__info {
            display: initial;
            height: initial;
          }
        }

        .card__poster {
          background: #eee;
          height: 150px;
          width: 166.67px;
        }

        .card__title {
          max-width: 100%;
          overflow: visible;
        }

        .card__add {
          display: inline-block !important;
          margin-right: 1%;
        }

        .card__mobile {
          display: none;
        }

        &:nth-last-child(1) {
          margin-right: 5rem;
        }
      }
    }
  }
}