.cardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  .cardList__card {
    margin: 1rem;
    width: 200px;

      .card__poster {
        background: #eee;
        height: 200px;
        overflow: hidden;
        width: 100%;

        .poster__image {
          width: 100%;
        }
      }

      .card__title {
        flex: 1;
        overflow: visible;
        padding-top: 3rem;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }

      .card__add {
        position: absolute;
        right: 1rem;
        top: -2rem;
        z-index: 2;
      }
  }

  @media (min-width: 768px) {
    .cardList__card {
      width: 250px;

      .card__poster {
        height: 375px;
        overflow: none;

        > img {
          min-height: 100%;
        }
      }
    }
  }
}